body{
    display: grid;
    grid-template: 'title title title' 'topL search topR' 'records records records' 'bottomL bottomP bottomR';
    width: 80vw;
    margin: auto;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-content: center;
}
.title{
    grid-area: title;
    margin: 50px auto;
    font-size: 30pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table-container{
    grid-area: records;
    width: 100%;
    margin: auto;
    
}
thead{
    background-color: #a0c6ff;
    font-size: x-large;
    cursor: pointer;
}
th.recording-col{
    cursor: initial;
}
tr, td, th, table{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
    text-align: center;
}
.pages{
    grid-area: bottomP;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.page-link, .inactive{
    padding: 10px;
}
form.search{
    grid-area: search;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
}
form.search>section{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin: 10px;
    justify-content: space-between;
}
input#search-query{
    width: 50%;
    margin: 0 10px;
}
form.search>section>select{
    width: 25%;
}

